TipAlert-SwiftDemo.xcodeproj/xcuserdata/diaokediao.xcuserdatad/xcschemes/TipAlert-SwiftDemo.xcscheme
TipAlert-SwiftDemo.xcodeproj/xcuserdata/diaokediao.xcuserdatad/xcschemes/TipAlert.xcscheme
TipAlert-SwiftDemo.xcodeproj/xcuserdata/diaokediao.xcuserdatad/xcschemes/xcschememanagement.plist
